@import 'variables.less';

.header {
  margin: 0;
  color: @grey_color;
  text-align: center;
  font-weight: 300;
  font-size: 50px;
}

.form-wrapper {
  margin: 0 auto;
  padding: 0 18px;
  max-width: 864px;
}

.form-head {
  margin: 54px auto 15px;
  max-width: 540px;
  text-align: center;

  @media (max-width: @mobile_width) {
    margin: 15px auto 40px;
  }
}

.form-set {

  &_text {
    display: flex;
    flex-direction: column;
    margin: 76px 0 18px;
    padding: 0;
    border: none;
  }

  &_choose {
    margin: 0;
    padding: 0;
    border: none;
  }
}

.form__item {

  position: relative;
  margin: 0 0 24px;

  &--input {
    padding: 23px 20px;
    font-family: @font;
    font-size: 17px;
    width: 100%;
    border: none;
    border-radius: 6px;
    background-color: #eef2f7;
    color: @grey_color;
    line-height: 1.18;
  }
  &--input-error:focus{
    outline: none;
    border: 1px solid #d0011b;
    background-color: inherit;
  }

  &--input:focus {
    padding: 32px 20px 14px;
    background-color: @white_color;
  }

  &--input[data-empty='false'] {
    padding: 35px 20px 11px;
  }

  &--input:valid {
    padding: 35px 20px 11px;
  }

  &_label {
    position: absolute;
    top: 22px;
    left: 20px;
    color: #74a3c7;
    font-size: 17px;
    opacity: 0.6;
    transition: all ease-in-out;
  }
}


.form__item--input[data-empty='false'] + .form__item_label {
  color: #74a3c7;
  font-size: 13px;
  line-height: 1.15;
  transform: translate(0, -8px);
}

.form__item--input:valid + .form__item_label {
  color: #74a3c7;
  font-size: 13px;
  line-height: 1.15;
  transform: translate(0, -8px);
}

.form__item--input:focus + .form__item_label {
  color: #74a3c7;
  font-size: 13px;
  line-height: 1.15;
  transform: translate(0, -8px);
}


.sign {
  position: absolute;
  background-color: inherit;
  background-image: url(img/profile.png);
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  padding: 0 24px;
  width: 24px;
  height: 66px;
  border-radius: 6px;
}

.form__item--error {

  &_sign {
    position: absolute;
    background-color: inherit;
    background-image: url(img/error.svg);
    background-position: center;
    background-repeat: no-repeat;
    top: 0px;
    right: 0;
    padding: 0 31px;
    display: none;
    width: 24px;
    height: 66px;
    border-radius: 6px;
  }

  &_message {
    display: none;
    margin: 11px 0 4px;
    color: #d0021b;
    text-align: left;
    font-size: 13px;
  }
}

.form__item .form__item--error_message {
  display: block;
}

.form__item .form__item--error_sign {
  display: block;
}

.form__item--support {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 24px;
  width: 24px;
  height: 66px;
  border-radius: 6px;
  background-color: inherit;
  background-image: url(img/support.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;

  &-message {
    position: absolute;
    top: 20px;
    right: 56px;
    display: none;
    padding: 16px;
    width: 284px;
    border: solid 1px #dddfe0;
    border-radius: 6px;
    background-color: @white_color;
    color: #9299a2;
    text-align: left;
    font-size: 13px;
    line-height: 1.38;
    transform: translate(0, -50%);

    @media (max-width: @mobile_width) {
      width: 180px;
    }
  }
}

.form__item--support:hover .form__item--support-message {
  display: block;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.form__item--support .form__item--support-message {
  outline: none;
  background-color: @white_color;
  border: solid 1px #dddfe0;
}

.block-header {
  margin: 0;
  color: @grey_color;
  text-align: center;
  font-weight: 300;
  font-size: 50px;

  @media (max-width: @mobile_width) {
    font-size: 30px;
  }

  &_choice {
    margin: 30px 0 13px;
    font-size: 21px;
    line-height: 1.15;

    @media (max-width: @mobile_width) {
      font-size: 21px;
    }
  }
}

.form-select {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;

  @media (max-width: @mobile_width) {
    margin: 0;
  }
}

.form-select__legend {
  margin: 30px 0 13px;
  color: @grey_color;
  text-align: center;
  font-weight: 300;
  font-size: 21px;
  line-height: 1.15;
}

.form-select__item {
  position: relative;
  margin: 12px;
  width: ~"calc(50% - 24px)";
  border: solid 1px #dddfe0;
  border-radius: 6px;
  color: @grey_color;
  text-align: left;
  font-size: 17px;
  font-family: @font;
  line-height: 1.18;

  @media (max-width: @mobile_width) {
    margin: 12px 0;
    width: 100%;
  }
}

.form-select__label {
  position: relative;
  display: block;
  padding: 21px 18px;
  cursor: pointer;
}

.form-select__field {
  position: absolute;
  visibility: hidden;
}

.form-select__mark {
  position: absolute;
  top: 18px;
  right: 18px;
  z-index: -1;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #eef2f7;
  content: '';
}

.form-select__field:checked ~ .form-select__mark {
  background-color: @yellow_color;
}

.form-select__field ~ .form-select__mark::before {
  background-color: #3e4757;
  width: 8px;
  height: 8px;
  position: absolute;
  content: '';
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 100%;
}

.form-select__field:checked ~ .form-select__mark::before {
  transform: translate(-50%, -50%) scale(1);
}

.form-select__button {
  border: none;
  border-radius: 6px;
  background-color: @yellow_color;
  color: @grey_color;
  text-align: center;
  font-size: 17px;
  font-family: @font;
  line-height: 1.42;
  margin: 14px;
  padding: 23px 86px;
}
