@yellow_color: #ffdd2d;
@grey_color: #333;
@white-color: #fff;

@font: Roboto, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
'Helvetica Neue', Arial, sans-serif;

@mobile-width: 640px;
@desktop-width: 756px;
